
<title>LodeRunnerReloaded</title>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/crafty.js"></script>
    <script src="lib/sorttable.js"></script>
    <script  src="src/game.js"></script>
    <script src="src/components.js"></script>
    <script src="src/scenes.js"></script>
    <script src="src/movement.js"></script>
    <script src="src/blockdetection.js"></script>



    <div id="cr-stage"></div>
    <script> window.addEventListener('load', Game.start);</script>

    <form action="/rateLevel" id="ratebutton" method="POST">
    <button>Like this Level!</button></form>
    
    <form name="input" action="/setplayer" id="userform" method="POST">
    Set your name: <input name="name" type="text" class="required" title="Please type in your name"><button type="button">HIT!</button></form>
    
    <p id="thanks"></p> 
    <h4 id="showname"> Player: {{playername}} </h4>

    <script>


      var cookie = document.cookie;
      var level_select = false;
 
      if(cookie == ""){
      $("#showname").hide();  
      }
      if(document.cookie != ""){      //when cookie is set hide form 
      $('#userform').hide();
      }

      function printScore(highscores){
    
      var output="<h4>Best Times </h4><ol>";
      for (var i in highscores.highscores) {
          output+="<li> Player:<b>" + highscores.highscores[i].playerID + "</b> Best Time:<b>" + highscores.highscores[i].time +"</b></li>";
      }

      output+="</ol>";
      document.getElementById("bestlist").innerHTML=output;
      //document.getElementById("levelname").innerHTML="<b>Level: </b>" + highscores.highscores[i].levelname; //heading levelname is the same in every index
    
    }
    $("#userform").submit(function(event) {

     event.preventDefault();
     
      $.ajax({
             type: "POST",
             url: "/setPlayer",
             data: $("#userform").serialize(), // serializes the form's elements.
             success: function(name)
             {
                $('#userform').hide();
                document.getElementById("playername").innerHTML="<b>Player: </b>" + name.name;
             }
           });    
      //return false; // avoid to execute the actual submit.
    });

    $("#ratebutton").submit(function(event){

     event.preventDefault();

      console.log(levelname);
      $.post("/rateLevel", {levelname: levelname})  //
        .done(function(data){
        document.getElementById("thanks").innerHTML=data;
        $('#ratebutton').hide();
        });
    });

    var play_level = null; //global variable to access leveldata outside of functions

    $.get("/getLevellisting", printLevellisting);

    function printLevellisting(dblevels){

      play_level = dblevels; 
      //level_select = false;

      var output="<h4>Choose a Level </h4><ul id='test'>";

      for (var i in dblevels.dblevels) {
          output+="<li><a onclick='playThisLevel("+ i + ")'> <b>" + dblevels.dblevels[i].levelname + "</b> </a>Likes: <b>" + dblevels.dblevels[i].rating +"</b></li>";
      }

      output+="</ul>";
      document.getElementById("levellist").innerHTML=output;



    }


    function playThisLevel(i){

       // alert(play_level.dblevels[i].levelname);

       level_select = true; 

        map = play_level.dblevels[i].leveldata.levelmap; 
        map_bg = play_level.dblevels[i].leveldata.levelbg; 
        map_transparent_bg = play_level.dblevels[i].leveldata.level_tr_bg; 


        levelname = play_level.dblevels[i].levelname;
        rating = play_level.dblevels[i].rating;
        createdBy = play_level.dblevels[i].createdBy;
        document.getElementById("leveldescription").innerHTML="Level: " + levelname + " created by: " + createdBy + " Likes: " + rating;

        $.post("/getHighscore", {levelname: levelname}, printScore);

        Crafty.scene('Loading');
    }


    </script>
    

    <h4 id="leveldescription"></h4>
    <h4 id="playername"></h4>
    <div id="bestlist"></div>    
    <div id="levellist"></div>

  
      
