
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/meinCss.css" rel="stylesheet">
  

  </head>

  <body>


        <!-- Titel -->
    <div class="centered">    
      <img src="assets/Logo123-01-01.png"/> 
    </div>
      <!-- Navigation bar -->
        <table class="navbar">
            <tr>
                <td><a href= "/">Game</a></td>    
                <td><a href = "/leveleditor">Editor</a></td>
                <td><a href = "/highscore">Best Times</a></td>
                <td><a href = "/levelranking">Level Ranking</a></td>
                <td><a href = "about">About</a></td>
                <td class="fill"></td>
            </tr>
        </table>

    <div class="container">

    	{{{body}}}

    </div> <!-- /container -->


    <table class="impressum">
            <tr>
        <td class="fill"></td>
                <td><a href= "/">Contact</a></td>    
            </tr>
    </table>




  </body>
</html>