<title>Leveleditor</title>
  </head>
  <body>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.js"></script>
	<script src="lib/crafty.js"></script>
	<script src="src/game_editor.js"></script>
	<script src="src/components_editor.js"></script>
	<script src="src/scenes_editor.js"></script>

	<div id="cr-stage"></div>
	<script>
	window.addEventListener('load', Game.start);
	</script>
  


	<form name="input" action="/saveLevel" id="levelform" method="POST"> 
    Levelname<input type="text" name="name" id="name">
    <button>Save it!</button>         
    </form>

	<script>

	   $("#levelform").submit(function(event) {
	   
	   event.preventDefault();
   
	    $.ajax({
	           type: "POST",
	           url: "/saveLevel",
	           data:
       				{	      					
   					leveldata: map_comp,
   					levelname: $("#name").val()
       				},	
	           success: function(data)
	           {
		          	$('#levelform').hide();	
		            $("#response").html(data);
	           }
	         });
	    });

	$.get("/getCreatedLevel", printCreatedLevel);

    function printCreatedLevel(dblevels) {

        var output="<ol>";

		var output="<h4>Your Level </h4><ul>";

	    for (var i in dblevels.dblevels) {
	        
      		output+="<li> Level: <b>" + dblevels.dblevels[i].levelname + "</b> Likes: <b>" + dblevels.dblevels[i].rating +"</b></li>";

		}
	    output+="</ol>";
	  	
		document.getElementById("createdLevelList").innerHTML=output;
	}

	    </script> 
	    
	    <div id="response"></div>
	   	<div id="createdLevelList"></div>