<title>Leveleditor</title>
  </head>
  <body>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.js"></script>
	<script src="lib/crafty.js"></script>
	<script src="src/game_editor.js"></script>
	<script src="src/components_editor.js"></script>
	<script src="src/scenes_editor.js"></script>

	<div id="cr-stage"></div>
	<script>
	window.addEventListener('load', Game.start);
	</script>
  


	<form name="input" action="/saveLevel" id="levelform" method="POST"> 
    Levelname<input type="text" name="name" id="name">
    <button>Save it!</button>         
    </form>
    
    <div id="response"></div>
   	<div id="createdLevelList"></div>

	<script>

	//$('')
	//$('#levelform').validate();

	   $("#levelform").submit(function(event) {
	   
	   event.preventDefault();
   
	    $.ajax({
	           type: "POST",
	           url: "/saveLevel",
	           data:
       				{	      					
   					leveldata: map_comp,
   					levelname: $("#name").val()
       				},	
	           success: function(data)
	           {
		          	$('#levelform').hide();	
		            $("#response").html(data);
	           }
	         });
	    });
 /*	var level_edit = null;

   	$.ajax({
      async: false,
      type: "GET",
      url: "/getCreatedLevel",
      dataType: "json",
      success : function(dblevels) { level_edit = dblevels; }
	});

	output="<h4>Your Level </h4><ul>";

    for (var i in level_edit.dblevels) {
        
  		output+="<li> Level: <b>" + level_edit.dblevels[i].levelname + "</b> Likes: <b>" + level_edit.dblevels[i].rating +"</b> <a id='load' onclick='editLevel()'> Edit </a></li>";

  		function editLevel(){

		alert(level_edit.dblevels[i].levelname);

		console.log(level_edit.dblevels[i].levelname);
		
		} 

	}
	/*$('#load').live('click', function(){

		alert(level_edit.dblevels[i].levelname);

	}); 


    output+="</ol>";
 
	document.getElementById("createdLevelList").innerHTML=output; */



    </script> 
